@model List<GymManager.Core.Members.Member>
@{

}

<table class="table">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Membership</th>
            <th scope="col">Begin Membership</th>
            <th scope="col">Membership status</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var member in Model)
        {
            var status = "";
            var nameMembership = "";
            var membership = 0;

            if (member.Membershiptype == null)
            {
                nameMembership = "No membership";
                status = "Expired";
            }
            else
            {
                nameMembership = member.Membershiptype.Name;
                membership = member.Membershiptype.Duration;
                var dateExpired = member.LastUpdate.AddMonths(membership);

                if (dateExpired <= DateTime.Now)
                {
                    status = "Expired";
                }
                else
                {
                    status = "Updated";
                }
            }



            <tr>
                <th scope="row">@member.Name</th>
                <td>@member.LastName</td>
                <td>@nameMembership</td>
                <td>@member.LastUpdate.ToString("dd/MM/yyyy")</td>
                <td>@status</td>

                @if (@status.Equals("Updated"))
                {
                    <td>
                        <a asp-action="ChangeRenewal" class="btn btn-outline-info" asp-route-memberId="@member.Id">Modify</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="ChangeRenewal" class="btn btn-outline-danger" asp-route-memberId="@member.Id">Add Membership</a>
                    </td>
                }
            </tr>
        }

    </tbody>
</table>